/MyClass/build/*
/MyClass/node_modules/*
/MyFunc/build/*
/MyFunc/node_modules/*
/MyPromise/build/*
/MyPromise/node_modules/*
/MyByteArray/build/*
/MyByteArray/node_modules/*
/MyDemo/build/*
/MyDemo/node_modules/*
/MyCallBack/build/*
/MyCallBack/node_modules/*
/MyThreadSafeFunction/build/*
/MyThreadSafeFunction/node_modules/*
/build/*
/node_modules/*
