/MyClass/build/*
/MyClass/node_modules/node-addon-api/Release/obj/nothing/node_modules/node-addon-api/nothing.obj
/MyClass/node_modules/node-addon-api/Release/obj/nothing/nothing.lib.recipe
/MyClass/node_modules/node-addon-api/Release/obj/nothing/nothing.tlog/CL.command.1.tlog
/MyClass/node_modules/node-addon-api/Release/obj/nothing/nothing.tlog/CL.read.1.tlog
/MyClass/node_modules/node-addon-api/Release/obj/nothing/nothing.tlog/CL.write.1.tlog
/MyClass/node_modules/node-addon-api/Release/obj/nothing/nothing.tlog/Cl.items.tlog
/MyClass/node_modules/node-addon-api/Release/obj/nothing/nothing.tlog/Lib-link.read.1.tlog
/MyClass/node_modules/node-addon-api/Release/obj/nothing/nothing.tlog/Lib-link.write.1.tlog
/MyClass/node_modules/node-addon-api/Release/obj/nothing/nothing.tlog/Lib.command.1.tlog
/MyClass/node_modules/node-addon-api/Release/obj/nothing/nothing.tlog/nothing.lastbuildstate
/MyClass/node_modules/node-addon-api/Release/obj/nothing/win_delay_load_hook.obj
/MyClass/node_modules/node-addon-api/node_api.sln
/MyClass/node_modules/node-addon-api/nothing.vcxproj
/MyClass/node_modules/node-addon-api/nothing.vcxproj.filters
/MyFunc/build/Release/*.exp
/MyFunc/build/Release/*.iobj
/MyFunc/build/Release/*.ipdb
/MyFunc/build/Release/*.lib
/MyFunc/build/Release/*.node
/MyFunc/build/Release/*.pdb
/MyFunc/build/Release/obj/cal/*.recipe
/MyFunc/build/Release/obj/cal/*.obj
/MyFunc/build/Release/obj/cal/cal.tlog/*.tlog
/MyFunc/build/Release/obj/cal/cal.tlog/*.lastbuildstate
/MyFunc/build/*.sln
/MyFunc/build/*.vcxproj
/MyFunc/build/*.filters
/MyFunc/build/*.gypi
/MyFunc/node_modules/node-addon-api/Release/obj/nothing/node_modules/node-addon-api/*.obj
/MyFunc/node_modules/node-addon-api/Release/obj/nothing/*.recipe
/MyFunc/node_modules/node-addon-api/Release/obj/nothing/nothing.tlog/*.tlog
/MyFunc/node_modules/node-addon-api/Release/obj/nothing/nothing.tlog/*.lastbuildstate
/MyFunc/node_modules/node-addon-api/Release/obj/nothing/*.obj
/MyFunc/node_modules/node-addon-api/*.sln
/MyFunc/node_modules/node-addon-api/*.vcxproj
/MyFunc/node_modules/node-addon-api/*.filters
/MyPromise/build/Release/*.lib
/MyPromise/build/Release/obj/promise/*.recipe
/MyPromise/build/Release/obj/promise/*.obj
/MyPromise/build/Release/obj/promise/promise.tlog/*.tlog
/MyPromise/build/Release/obj/promise/promise.tlog/*.lastbuildstate
/MyPromise/build/Release/*.exp
/MyPromise/build/Release/*.iobj
/MyPromise/build/Release/*.ipdb
/MyPromise/build/Release/*.node
/MyPromise/build/Release/*.pdb
/MyPromise/build/*.sln
/MyPromise/build/*.gypi
/MyPromise/build/*.vcxproj
/MyPromise/build/*.filters
/MyPromise/node_modules/node-addon-api/Release/obj/nothing/node_modules/node-addon-api/*.obj
/MyPromise/node_modules/node-addon-api/Release/obj/nothing/*.recipe
/MyPromise/node_modules/node-addon-api/Release/obj/nothing/nothing.tlog/*.tlog
/MyPromise/node_modules/node-addon-api/Release/obj/nothing/nothing.tlog/*.lastbuildstate
/MyPromise/node_modules/node-addon-api/Release/obj/nothing/*.obj
/MyPromise/node_modules/node-addon-api/*.sln
/MyPromise/node_modules/node-addon-api/*.vcxproj
/MyPromise/node_modules/node-addon-api/*.filters
/build/Release/*.exp
/build/Release/*.iobj
/build/Release/*.ipdb
/build/Release/*.lib
/build/Release/*.node
/build/Release/*.pdb
/build/Release/obj/democpp/*.recipe
/build/Release/obj/democpp/*.obj
/build/Release/obj/democpp/democpp.tlog/*.tlog
/build/Release/obj/democpp/democpp.tlog/*.lastbuildstate
/build/*.sln
/build/*.gypi
/build/*.vcxproj
/build/*.filters
/build/node_modules/node-addon-api/Release/obj/nothing/node_modules/node-addon-api/*.obj
/build/node_modules/node-addon-api/Release/obj/nothing/*.recipe
/build/node_modules/node-addon-api/Release/obj/nothing/nothing.tlog/*.tlog
/build/node_modules/node-addon-api/Release/obj/nothing/nothing.tlog/*.lastbuildstate
/build/node_modules/node-addon-api/Release/obj/nothing/*.obj
/build/node_modules/node-addon-api/*.sln
/build/node_modules/node-addon-api/*.vcxproj
/build/node_modules/node-addon-api/*.filters
/node_modules/*.json
/node_modules/node-addon-api/*.md
/node_modules/node-addon-api/*.gypi
/node_modules/node-addon-api/*.js
/node_modules/node-addon-api/*.h
/node_modules/node-addon-api/*.gyp
/node_modules/node-addon-api/*.c
/node_modules/node-addon-api/*.json
/node_modules/node-addon-api/tools/*.md
/node_modules/node-addon-api/tools/*.js
